button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 29px;
  padding: 4px 12px;

  &.active {
    color: #008767;
    border-radius: 4px;
    border: 1px solid #00b087;
    background: rgba(22, 192, 152, 0.38);
    margin-left: auto;
  }

  &.inactive {
    color: #df0404;
    border-radius: 4px;
    border: 1px solid #df0404;
    background: #ffc5c5;
    margin-left: auto;
  }
}

.burger {
  display: flex;
  justify-content: center;
  width: 48px;
  height: 48px;
  margin-left: auto;
  background-color: transparent;

  &_icon {
    width: 32px;
    height: 32px;
    stroke: #9197b3;
  }
}

.read-more,
.show-less {
  width: 100px;
  height: 29px;

  background-color: rgb(82, 53, 230);
  color: #fff;
  border-radius: 4px;
}

.show-less {
  margin-top: 20px;
}
