.customers_wrapper {
  display: flex;
  flex-direction: column;
  width: 890px;
  height: 742px;
  padding: 30px 40px 40px 38px;

  background-color: #fff;
  border-radius: 40px;
}

.customers_category_title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  & h3 {
    font-size: 22px;
    font-weight: 600;
    letter-spacing: -0.22px;
    margin-bottom: 7px;
  }

  & p {
    color: #16c098;
    font-weight: 400;
    margin-bottom: 40px;
  }
}

.input-container {
  position: relative;
  width: 216px;
  height: 38px;
  margin-right: 9px;

  & input {
    display: flex;
    width: 182px;
    height: 34px;

    padding-left: 34px;

    border-radius: 10px;
    border-color: transparent;
    background: #f9fbff;
  }

  & .icon {
    position: absolute;
    width: 24px;
    height: 24px;
    margin: 0 8px;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    color: #666;
    cursor: pointer;
  }
}

.customers_category_list {
  display: flex;
  flex-direction: row;
  color: #b5b7c0;
  padding-bottom: 14px;

  &_name {
    display: flex;
    width: 170px;
    height: 21px;
    padding-right: 2px;
  }

  &_company {
    display: flex;
    width: 129px;
    height: 21px;
    padding-right: 2px;
  }

  &_phone {
    display: flex;
    width: 154px;
    height: 21px;
    padding-right: 2px;
  }

  &_email {
    display: flex;
    width: 205px;
    height: 21px;
    padding-right: 2px;
  }

  &_country {
    display: flex;
    width: 138px;
    height: 21px;
    padding-right: 2px;
  }

  &_status {
    display: flex;
    width: 80px;
    height: 29px;
    justify-content: center;
  }
}

.customers_category {
  position: relative;
  display: flex;
  flex-direction: column;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: -40px;
    bottom: 0;
    left: -38px;
    border-bottom: 1px solid #eee;
    box-sizing: border-box;
  }
}

.customers_list {
  display: flex;
  flex-direction: column;
}

.customers_list_item {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 21px;
  color: #292d32;
  padding: 24px 0;

  &_status {
    padding: 20px 0;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-bottom: 1px solid #eee;
    box-sizing: border-box;
  }
}

.customers_pagination {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;

  & p {
    color: #b5b7c0;
  }
}
