.sidebar_wrapper {
  display: flex;
  flex-direction: column;
  width: 242px;
  height: 1085px;
  padding: 37px 36px 76px 28px;
  background-color: white;

  @media screen and (max-width: 767px) {
    width: 280px;
    height: 500px;
    padding: 37px 20px 76px 20px;
    margin: 0 auto;
  }
}

.sidebar_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 54px;

  & h2 {
    margin-left: 8px;
    color: #000;
    font-size: 26px;
    font-weight: 600;
    letter-spacing: 0.26px;
  }

  & p {
    display: flex;
    width: 18px;
    height: 15px;
    margin-left: 4px;
    margin-top: 14px;
    color: #838383;
    font-size: 10px;
    letter-spacing: -0.1px;
  }

  @media screen and (max-width: 767px) {
    margin: 0 auto 40px;
  }
}

.sidebar_item {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 250px;
}

[class*="_link"] {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 11px 8px 11px 11px;
}

.inactive_link {
  color: #9197b3;
}

.active_link {
  color: #ffffff;
  border-radius: 8px;
  background: #5932ea;
}

[class*="sidebar_icon"] {
  margin-right: 14px;
}

.sidebar_chevron {
  width: 16px;
  height: 16px;
  margin-left: auto;
}

.user {
  display: flex;
  flex-direction: row;
  margin-top: auto;
  // gap: 12px;
  align-items: center;

  &_info {
    margin-left: 12px;
  }

  &_name {
    color: #000;
    letter-spacing: 0.14px;
  }

  &_prof {
    color: #757575;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.12px;
  }
}

.user_image_thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  overflow: hidden;

  & image {
    width: 42px;
    height: 42px;
    object-fit: cover;
  }
}
